.ex-1-square {
    transition: 2s;
}

.ex-1-square:hover {
    background-color: red;
}

.ex-2-square {
    transition: 2s;
}

.ex-2-square:active {
    width: 100%;
}

.ex-3-square {
    transition: 1s;
}

.ex-3-square:hover {
    border-radius: 100%;
}

.ex-4-square {
    transition: 1s;
}

.ex-4-square:hover {
    opacity: 0;
}

.ex-5-square {
    transition: 1s;
}

.ex-5-square:hover {
    transform: scale(2);
}

.ex-5-square:active {
    transform: scale(0.5s);
}

.ex-6-img:hover {
    filter: grayscale(1)
}

.ex-7-img {
    transition: 2s;
}

.ex-7-img:hover {
    filter: grayscale(1);
    filter: sepia(0.6);
}

.ex-8-img {
    transition: 2s;
}

.ex-8-img:hover {
    filter: grayscale(1);
    filter: sepia(0.8);
    border-radius: 2rem;
}

.ex-9-img {
    transition: 2s;
}

.ex-9-img:hover {
    filter: grayscale(1);
    filter: sepia(0.8);
    border-radius: 2rem;
    transform: scale(1.5);
}

.ex-10-icon {
    animation: loading 2s linear infinite;
}

@keyframes loading {
    0% {
        transform: rotate(1turn);

    }
}

.ex-11-icon:hover {
    animation: partial-spin 2s linear;
}

@keyframes partial-spin {
    0% {
        
    }

    75% {
        transform: rotate(300deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.ex-12-button:hover .ex-12-top-white {
    animation: horizontal-movement-top-white-12 2s linear;
}

.ex-12-button:hover .ex-12-bottom-white {
    animation: horizontal-movement-bottom-white-12 2s linear ;
}

@keyframes horizontal-movement-top-white-12 {
    0% {

    }

    50% {
        transform: translateX(110px);
    }

    100% {
        
    }
}

@keyframes horizontal-movement-bottom-white-12 {
    0% {

    }

    50% {
        transform: translateX(-90px);
    }

    100% {
        
    }
}

.ex-13-button:hover .ex-13-top-white {
    animation: circle-movement-top-white-13 2s linear;
}

.ex-13-button:hover .ex-13-bottom-white {
    animation: circle-movement-bottom-white-13 2s linear;
}

@keyframes circle-movement-bottom-white-13 {
    0% {
    }

    20% {
        transform: translateX(-100px);
    }

    40% {
        transform: translate(-100px, -70px);
    }

    60% {
        transform: translate(50px, -70px);
    }

    80% {
        transform: translate(50px, 0px);
    }
    100% {

    }

}

@keyframes circle-movement-top-white-13 {
    0% {
    }

    20% {
        transform: translateX(120px);
    }

    40% {
        transform: translate(120px, 70px);
    }

    60% {
        transform: translate(-20px, 70px);
    }

    80% {
        transform: translate(-30px, 0px);
    }
    100% {

    }

}